/* header */
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: repeat-x;
    
}
.about{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    margin: 150px 260px 110px 260px;
    color:#252432 ;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: 700;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    color:#FFFFFF ;
    border-radius: 10px;
}
.title{
   font-weight: bold; 
   font-size: 42px;
   color: #252432;
}
.sub-title{
    font-weight: 300;
    font-size: 24px;
    color:#252432 ;
  
}
.description{
   display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 160px 155px 0 140px;
}
.banner-content{
  max-width: 560px ;  
}
.banner-title{
  font-weight: bold; 
  font-size: 42px; 
  color:#252432 ;
}
.banner-profile-pic{
    width: 400px;
    border-radius: 48px;
}
/* section styles */
.section-content{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.14);
}
/* us styles */
.us{
    border-radius: 24px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 30px;
    text-align: center;
    margin-top: 116px;
} 
.us-items{
    display: flex;
    justify-content: space-around;
  
} 
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4e47ff;
   
}
.item-description{
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    
}
/* skills styles */
.section-skill{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color:#252432 ;
}
.skill-container{
    display: flex;
    align-items: center;
    gap: 24px  ;
    justify-content: center;
}
/* photo styles */
.photo-title{
    font-weight: bold;
    font-size: 50px;
    color:#000000 ;
}
.photo-description{
   color: rgba(0, 0, 0, 0.5);
}
.main {
    background-color:#FFFFFF ;
    gap: 100px;
}

.photo {
    display: flex;
    flex-direction: column; /* stack title, description, button */
    align-items: center; /* center horizontally */
    text-align: center; /* align text center */
    gap: 10px;
}

.pic {
  display: block;      
  margin: 0 auto;
       

  padding: 50px 150px 190px 150px;
}
/* code styles */
.code-title{
    font-weight: bold;
    font-size: 79px;
    color: #000000;
}

.code-bar{
    display: flex;
    gap: 100px;
    
}
section input[type="email"], section input[type="text"], section textarea{
    height: 40;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: block;
    width: 80%;
    padding: 20px 300px 20px 32px;
    margin-bottom: 20px;
    

}
/* footer styles */
.sign{
    font-weight: 900;
    font-size: 100px;
    color:rgba(78, 71, 255, 1) ;
    text-align: center;
}
.footer-description{
    color: #8987A1;
    text-align: center;
    height: 48px;
}
.footer-bar{
    justify-content: center;
    justify-content: space-around;
   
    display: flex;
   


}